<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.aidenkoog.android_wear_os">

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- For receiving exercise metrics. -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- For ambient mode. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- For network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For storage access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- For showing an ongoing notification. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For Health services -->
    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <!-- For Watch face -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA_PRIVILEGED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Wearable feature library -->
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!-- Set to true if your app is Standalone, that is, it does not require the handheld app to run. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- First activity (Not used currently) -->
        <activity android:name=".presentation.intro.activity.IntroActivity" />

        <!-- Home activity (Launcher) -->
        <activity
            android:name=".presentation.home.activity.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.setting.activity.SettingActivity" />

        <!-- Add foreground service location permission for exercise tracking -->
        <service
            android:name="io.github.aidenkoog.android_wear_os.services.health.ExerciseService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <!-- Watch Face Service -->
        <service
            android:name=".services.watchface.AnalogWatchFaceService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/analog_watch_face_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watch_preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/watch_preview" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

            <meta-data
                android:name="com.google.android.wearable.watchface.companionBuiltinConfigurationEnabled"
                android:value="true" />
        </service>

        <!-- Watch Face Configuration Activity -->
        <activity
            android:name=".services.watchface.editor.WatchFaceConfigActivity"
            android:exported="true"
            android:label="@string/title_activity_watch_face_config">

            <intent-filter>
                <action android:name="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- TileService 1 -->
        <service
            android:name=".services.tile.guide.GuideTileService"
            android:description="@string/hello_tile_description"
            android:exported="true"
            android:icon="@drawable/ic_waving_hand_24"
            android:label="@string/hello_tile_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">

            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <!-- The tile preview shown when configuring tiles on your phone -->
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_hello" />
        </service>

        <!-- TileService 2 -->
        <service
            android:name=".services.tile.messaging.tile.MessagingTileService"
            android:description="@string/tile_description"
            android:exported="true"
            android:icon="@drawable/ic_message_24"
            android:label="@string/tile_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <!-- The tile preview shown when configuring tiles on your phone -->
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_messaging" />
        </service>

        <!-- TileService 2 Activity -->
        <activity
            android:name=".services.tile.messaging.MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>