.map_container {
  float: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.map_root_container {
  width: 65%;
  height: auto;
  float: right;
  padding-left: 5%;
  padding-right: 8%;
}

.first_loading_container {
  float: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15%;
}

.error_container {
  float: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.error_message_container {
  float: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15%;
}
