.footer_container {
  max-width: auto;
  max-height: auto;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  color: #fff;
  font-size: large;
  background-color: #1d70ec;
  margin-top: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  clear: both;
}
